body {
	background-color: aqua;
	font-family: "Courier New", Courier, monospace;
}

#title {
	font-weight: bolder;
	text-align: center;
	font-size: 3rem;
}

#playground {
	position: relative;
	background-color: #ffffff;
	margin: auto;
	padding: 0;
	width: 800px;
	height: 600px;
	border-radius: 5%;
}

.brick {
	width: 50px;
	height: 30px;
	background-color: brown;
	padding: 0 10px;
	display: inline-block;
	position: relative;
	visibility: visible;
}

.brick-row {
	padding: 15px 45px 2px;
}

#ball {
	position: absolute;
	left: 0;
	right: 0;
	width: 20px;
	height: 20px;
	margin-top: 400px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 100%;
	background-color: red;
	text-align: center;
}
#paddle {
	position: absolute;
	background-color: blue;
	width: 90px;
	height: 15px;
	bottom: 25px;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}
@media screen and (max-width: 1024px) {
	#playground {
		margin: 0 1%;
		height: 99vh;
	}
}

#reset-button {
	width: 100px;
	height: 50px;
	font-size: large;
	border-radius: 10%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-top: 300px;
	display: none;
}

#scoreboard {
	display: block;
	margin-left: 70%;
	font-size: large;
}

@media screen and (max-width: 414px) or (max-height: 900px) {
	#title {
		font-weight: bold;
		font-size: 1.5rem;
		touch-action: none;
	}
	#scoreboard {
		margin: auto;
		text-align: center;
		display: block;
		font-size: 1rem;
		margin-bottom: 10px;
		touch-action: none;
	}
	#playground {
		margin: auto;
		width: 320px;
		height: 420px;
		touch-action: none;
	}
	.brick-row {
		text-align: center;
		padding: 3px 19px 2px;
		touch-action: none;
	}
	.brick {
		width: 12px;
		height: 10px;
		touch-action: none;
	}
	.brick-remove-for-phone {
		visibility: hidden;
		display: none;
		touch-action: none;
	}
	#paddle {
		width: 50px;
		height: 10px;
	}

	#ball {
		width: 10px;
		height: 10px;
		margin-top: 250px;
		margin-left: auto;
		margin-right: auto;
		touch-action: none;
	}
	#reset-button {
		width: 70px;
		height: 25px;
		font-size: medium;
	}
}
